@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #369d8a;
}

.wrapper {
    background-color: #fff;
    max-width: 410px;
    /* height: 260px; */
    height: 330px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
}

/* .active yeah class Js ki madeed se ay he  */
.wrapper.active {
    height: 550px;
}

.wrapper header h1 {
    font-size: 21px;
    font-weight: 500;
}

.wrapper header p {
    font-size: 16px;
    color: #474747;
    margin-top: 5px;
}

.wrapper .form {
    margin: 20px 0 25px;
}

.form :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}

.form button {
    background-color: #369d8a;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
}

.wrapper .qr-code {
    border: 1px solid #ccc;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}

.btn button{
    background-color: #369d8a;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
}